@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-[url('/bg.png')] bg-cover bg-center bg-no-repeat bg-fixed min-h-screen flex justify-center items-center text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
